{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-4">S'inscrire</h1>
            <div class="btn btn-success mt-8">

                {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6"> {#Pour diviser par deux les colonnes avec bootstrapp#}
                            {{ form_row(form.nom, {
                                label: 'Nom',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.prenom, {
                                label: 'Prénom',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.adresse, {
                                label: 'Adresse',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.ville, {
                                label: 'Ville',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.codePostal, {
                                label: 'Code postal',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.telephone, {
                                label: 'Téléphone',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.dateInscription, {
                                label: 'Date d\'inscription',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                        </div>

                        <div class="col-md-6"> {#Pour diviser par deux les colonnes avec bootstrapp#}
                            {{ form_row(form.roles, {
                                label: 'Rôle',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.email, {
                                label: 'Email',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.plainPassword.first, {
                                label: 'Mot de passe',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.plainPassword.second, {
                                label: 'Confirmer le mot de passe',
                                attr: {
                                    class: 'form-control w-500'
                                }
                            }) }}
                            {{ form_row(form.agreeTerms, {
                                label: 'J\'accepte les termes et conditions',
                                attr: {
                                    class: 'form-check-input'
                                }
                            }) }}
                            <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-lg ms-2">Inscription</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}  
            </div>
        </div>
    </div>
</div>

{% endblock %}
